<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <!-- using Jinja template syntax to define title placeholder -->
    <title>{{ title }}</title>
</head>
<body>
    <!-- use Jinga template syntax to add content block for other templates -->
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>    
    <script src="/static/main.js"></script>
</body>
</html>